# ignore binary files (denoted by no extension)
*
!*.*
!*/
!LICENSE

# windows
*.exe
*.ilk
*.pdb

# ignore fuzzer output
tests/fuzzer/out*

# include fuzzer input
!*/fuzzer/in*/*

# ignore docs output
public/*

# ignore alt bin ext
*.out
